[submodule "web/foundation"]
	path = web/foundation
	url = https://github.com/zurb/foundation.git
[submodule "web/normalize"]
	path = web/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "web/jquery"]
	path = web/jquery
	url = https://github.com/jquery/jquery.git
